<md-content layout="row" layout-align="center center">
    <md-card flex=70>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'LOGIN.TITLE' | translate}}</span>
        </md-card-title-text>
        <!-- <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media> -->
      </md-card-title>
      <md-card-content >
        <div layout="column" layout-align"center center">
          <md-button class="md-raised login-btn fb-login" ng-click="login('facebook')">{{'LOGIN.LOGIN_WITH' | translate}} Facebook</md-button>
          <md-button class="md-raised login-btn g-login" ng-click="login('google')">{{'LOGIN.LOGIN_WITH' | translate}} Google</md-button>
        </div>
      </md-card-content>

      <!-- <md-card-actions layout="column" layout-align="start">
          <md-button>Facebook login</md-button>
          <md-button>Google login</md-button>
        </md-card-actions> -->
    </md-card>
</md-content>
