<div layout="column">

  <!-- Form -->
    <md-card md-theme="default" flex=100>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{'FEEDBACK.TITLE' | translate}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form>
          <div layout="row" layout-wrap>
            <md-input-container class="md-block" flex=100>
              <label>{{'FEEDBACK.PLACEHOLDER' | translate}}</label>
              <textarea ng-model="feedback.content" md-maxlength="500" rows="5" md-select-on-focus></textarea>
            </md-input-container>
          </div>
          <div layout="row"  layout-align="end center">
            <md-card-actions>
              <md-button ng-click="sendFeedback()" class="md-raised md-primary">{{'FEEDBACK.SEND' | translate}}</md-button>
              <md-button ng-click="cancel()" class="md-raised">{{'FEEDBACK.CANCEL' | translate}}</md-button>
            </md-card-actions>
          </div>
        </form>
      </md-card-content>
    </md-card>

</div>
